*{
	margin: 0;
	padding: 0;
}
body
{
	font-family: sans-serif;
}
#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 1;
}

a.navbar-brand
{
	font-size: 20px;
	padding-left: 20px;
	color: #fff;
	font-weight: 800;
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
	color: #fff;
	font-weight: bold;
	text-align: left;
}
.fa-bars
{
	color: #fff;
	font-size: 25px;
}
.navbar-toggler
{
	outline: none;
}
.dropdown-menu
{
	background:linear-gradient(to left,#007bff,#17a2b8);

}
a .dropdown-item
{
	background-color: #ead98b;
}
.service
{
	padding: 50px 0;
	background: linear-gradient(to left,#007bff,#17a2b8);
}
.service h2
{
	text-align: center;
}
.service-img
{
	width: 100%;
	margin-top: 20px;
}
.service .btn-primary
{
	box-shadow: none;
	padding: 8px 25px;
	border: none;
	border-radius: 20px;
	background: linear-gradient(to left,#007bff,#17a2b8);
}
.service .btn-primary:hover
{
	background:#21ebff;
	color: #000;
	box-shadow: 0 0 50px #21ebff;
	letter-spacing: 2px;
}
.Partner
{	
	padding:20px 0;
	background: linear-gradient(to left,#007bff,#17a2b8);
}
.Partner h2
{
	text-align: center;	
}
.about-us
{	padding:20px 0;
	background: linear-gradient(to left,#007bff,#17a2b8);
}
.about-title
{
	font-size: 20px;
}
.about-us ul li
{
	margin: 10px 10px;
}
.about-img
{	width: 100%;
	height: 250px;
	margin-right: 10px;
}
.member
{	padding:20px 0;
	background: linear-gradient(to left,#007bff,#17a2b8);
}
.membership
{
	border-left: 5px solid #fff000;
	margin-top: 25px;
	margin-bottom: 25px;
}	
.membership img
{
	height: 60px;
	width: 60px;
	border-radius: 50%;
	margin-bottom: 10px;
}
.user-detail
{
	display: inline-block;
	font-size: 15px;
	margin-left: 10px; 
}
.social-media
{	
	padding:20px 0;
	background: linear-gradient(to left,#007bff,#17a2b8);
}	
.social-media p
{
	font-size: 25px;
}
.social-icon img
{
	width: 60px;
	transition:0.5s;
}
.social-icon a:hover img
{
	transform: translateY(-10px);

}
.footer
{
	background-image: linear-gradient(to left,#007bff,#17a2b8);
}
.footer-info
{
	padding: 20px;
	text-align: left;
	
}
.footer-info .fa
{
	margin-right:8px;
	font-size: 25px;
	height: 40px;
	width: 40px;
	text-align:center;
	padding-top: 7px;
	border-radius: 2px;
	background-image: linear-gradient(to left,#007bff,#17a2b8);
}
